<h1 class="mt-5 animate__animated animate__wobble">Selectores Anidados</h1>
<hr>

<form [formGroup]="miFormulario"
      (ngSubmit)="guardar()"
      class="animate__animated animate__backInUp">

<!--REGIONES-->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente</label>
      <select class="form-control"
              formControlName="region">
        <option value="">--- Seleccione Continente ---</option>
        <option *ngFor="let region of regiones"
          [value]="region | lowercase ">{{ region }}</option>
      </select>
    </div>
  </div>



  <!--PAISES-->
  <div class="row mb-3" *ngIf="paises.length !== 0">
    <div class="col">
      <label class="form-label">País</label>
      <select class="form-control"
              formControlName="pais">
        <option value="">--- Seleccione el País ---</option>
        <option *ngFor="let pais of paises"
                [value]="pais.cca3">{{ pais.name.common }}</option>
      </select>
    </div>
  </div>


  <!--FRONTERAS-->
  <div class="row mb-3" *ngIf="fronteras.length > 0">
    <div class="col">
      <label class="form-label">Fronteras</label>
      <select class="form-control"
              formControlName="frontera">
        <option value="">--- Seleccione el país fronterizo ---</option>
        <option *ngFor="let frontera of fronteras"
                [value]="frontera.alpha3Code">{{ frontera.name }}</option>
      </select>
    </div>
  </div>


<!--DIV PARA MOSTRAR EL CARGANDO-->
  <div class="row animate__animated animate__pulse" *ngIf="cargando">
    <div class="col">
      <div class="alert alert-primary">
        Cargando...
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end"
              type="submit">
        Seleccionar
      </button>
    </div>
  </div>


</form>

<div class="animate__animated animate__fadeInRightBig">
  <h3>Formulario</h3>
  <pre>{{ miFormulario.valid }}</pre>
  <pre>{{ miFormulario.value | json }}</pre>
</div>

